.table {
    width: 1000px;
    font-size: 34px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  .head th {
    border: 2px solid black;
    color: white;
    background-color: rgb(39, 45, 45);
  }
  .strings td {
    border: 2px solid black;
  }
  .strings td:first-child {
    text-transform: capitalize;
  }
  .strings:nth-child(2n) {
    background-color: rgb(200, 204, 208);
  }